<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResultCalculator</title>
</head>
<body>
    <form method = "post">

        <input type = "number" name = "num1">
        <select id="option" name = "option">
            <option value="+"></option>
            <option value="-"></option>
            <option value="/"></option>
            <option value="*"></option>
        </select>
        <input type = "number" name = "num2">
        <input type = "submit" title = "Результат">
    </form>
    {%if result %}
    <p>{{result}}</p>
    {% endif %}
</body>
</html>